{% extends 'base.html' %}

{% block content %}
<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">URL SHORTER</a>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
        <div class="form-shorter">
        <form method="post">
            {% csrf_token %}
            {{ urlshorter_form }}
            <input type="submit" class="btn btn-success" value="Shorten URL">
            </form>
        </div>
        <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Link</th>
                  <th scope="col">Data create</th>
                  <th scope="col">Short link</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                {% for item in urls %}
                <tr>
                  <td>{{item.url}}</td>
                  <td>{{item.created_at}}</td>
                  <td><a href="{{ item.get_short_url }}">localhost{{ item.get_short_url }}</a></td>
                  <td>{{item.count}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}